<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete resposive sport design dailywebdesign</title>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


    <link rel="stylesheet" href="/style/cricketstlye.css">
</head>
<body>



<header class="header">
    <a href="#" class="logo"> <i class="fa-solid fa-baseball-bat-ball"></i>  Cricket </a>

    <nav class="navbar">
        <a href="#">Home</a>
        <a href="https://www.hotstar.com/in">Live Video </a>
        <a href="#">About</a>
        <a href="#">Review</a>
        <a href="#">Blog</a>
        <a href="/login"> Log In </a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
    </div>

</header>



<section class="home" id="home">
    <div class="slides-container">

        <div class="slide active">
            <div class="content">
                <span>Never Stop</span>
                <h3>upto 50% off</h3>
                <a href="/seat" class="btn">Ticket Now</a>
            </div>
            <div class="img">
                <img decoding="async" src="/CRICKETALLPHOTOS/images.jpeg">
            </div>
        </div>


        <div class="slide">
            <div class="content">
                <span> Eden Gardens Stadium</span>
                <h3>upto 50% off</h3>
                <a href="#" class="btn">Shop Now</a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\Eden-Gardens-Stadium-Kolkata-ICC-World-Cup-2023.jpg">
            </div>
        </div>

    </div>
    <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
    <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>
</section>


<section class="banner-container">

<div class="banner">
    <img decoding="async" src="CRICKETALLPHOTOS\Eden-Gardens-Stadium-Kolkata-ICC-World-Cup-2023.jpg" alt="">
    <div class="content">
    <span>Eden Gardens Stadium</span>
    <h3>upto 50% off</h3>
    <a href="#" class="btn">Shop Now</a>
</div>
</div>

<div class="banner">
    <img decoding="async" src="CRICKETALLPHOTOS\Narendra-Modi-Stadium-Capacity-for-Icc-ODI-World-Cup.jpg" alt="">
    <div class="content">
    <span>Narendra Modi Stadium </span>
    <h3>upto 50% off</h3>
    <a href="#" class="btn">Shop Now</a>
</div>
</div>

<div class="banner">
    <img decoding="async" src="CRICKETALLPHOTOS\2-0-616584398-GettyImages-518364192-0_1680243944528_1697869424155.avif" alt="">
    <div class="content">
    <span>Wankhede Stadium</span>
    <h3>upto 50% off</h3>
    <a href="#" class="btn">Shop Now</a>
</div>
</div>

</section>



<div class="heading">
    <h1>Our Shop</h1>
</div>

<section class="category">
    <br>
    <h1 class="title"> our <span>category</span> <a href="#"> view all >> </a> </h1>

    <div class="box-container">

        <a href="#" class="box">
            <img decoding="async" src="CRICKETALLPHOTOS\nightstadium08.jpeg" alt="">
            <h3>night stadium</h3>
        </a>

        <a href="#" class="box">
            <img decoding="async" src="CRICKETALLPHOTOS\daystadium01.jpg" alt="">
            <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
            <img decoding="async" src="CRICKETALLPHOTOS\daystadium02.jpg" alt="">
            <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
            <img decoding="async" src="CRICKETALLPHOTOS\images (1).jpeg" alt="">
            <h3>day stadium</h3>
        </a>

        <a href="#" class="box">
            <img decoding="async" src= "CRICKETALLPHOTOS\eveningstadium08.jpeg" alt="">
            <h3>evening stadium</h3>
        </a>

    </div>
</section>

<section class="products">
    <h1 class="title"> our <span>product</span> <a href="#">view all >></a></h1>
    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\bag01.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bag</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\cap01.webp" alt="">
            </div>
            <div class="content">
                <h3>Cap</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\Plus-Spikes-Cricket-Shoes-1_800x.webp" alt="">
            </div>
            <div class="content">
                <h3>Shose</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\images (2).jpeg" alt="">
            </div>
            <div class="content">
                <h3>T-shirt</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\football.webp" alt="">
            </div>
            <div class="content">
                <h3>Foot Ball</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\51m8rCRARYS._AC_UF894,1000_QL80_.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bat</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\Cricket_ball_on_grass.jpg" alt="">
            </div>
            <div class="content">
                <h3>Ball</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="img">
                <img decoding="async" src="CRICKETALLPHOTOS\closeup-shot-cricket-ball-sport-field-with-blurred-background_1057-35874.avif" alt="">
            </div>
            <div class="content">
                <h3>Base Ball</h3>
                <div class="price">$19.99</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
            </div>
        </div>

    </div>
</section>




<div class="heading">
    <h1>About Us</h1>
</div>

<section class="about">
    <div class="img">
        <img decoding="async" src="CRICKETALLPHOTOS\msdhoni.jpg" alt="">
    </div>

    <div class="content">
        <span>Welcome to our web page </span>
        <h3>Cricket </h3>
        <p>paragraph1  </p>
            <p>paragraph1</p>
             <a href="#" class="btn">read more</a>
    </div>
</section>





<div class="heading">
    <h1>Client's review</h1>
</div>

<section class="info-container">

    <div class="info">
        <img decoding="async" src="img/icon-1.png" alt="">
        <div class="content">
            <h3>fast delivery</h3>
            <span>within 30 minutes</span>
        </div>
    </div>

    <div class="info">
        <img decoding="async" src="img/icon-2.png" alt="">
        <div class="content">
            <h3>24/7 available</h3>
            <span>within 30 minutes</span>
        </div>
    </div>

    <div class="info">
        <img decoding="async" src="img/icon-3.png" alt="">
        <div class="content">
            <h3>easy payments</h3>
            <span>within 30 minutes</span>
        </div>
    </div>
</section>




<section class="review">

    <div class="box">
        <div class="user">
            <img decoding="async" src="CRICKETALLPHOTOS\desktop-wallpaper-old-of-m-s-dhoni-having-long-hair❤️-ms-dhoni-face.jpg" alt="">
            <div class="info">
                <h3>M S Dhoni</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>ou Don't play for the crowd, You are playing for the country.” “I want people to remember me as a Good Person, Not as a Good Cricketer.” "I have always believed that process is more important than results."</p>
    </div>

    <div class="box">
        <div class="user">
            <img decoding="async" src="CRICKETALLPHOTOS\desktop-wallpaper-sachin-tendulkar-and-sachin-tendulkar.jpg" alt="">
            <div class="info">
                <h3>Sachin tendulkar</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>I can imagine the agony of the players, fans and well-wishers and what they must be going through. Losses are a part of the sport but let us remember that this unit gave their all for us throughout the tournament.” he further wrote .</p>
    </div>

    <div class="box">
        <div class="user">
            <img decoding="async"  src= "CRICKETALLPHOTOS\11_01_2022-rahul_dravid_bcci_223717141641878326871.jpg" alt="">
            <div class="info">
                <h3>Rahul Dravid</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Dravid refused to dwell on his immediate plans as his coaching contract draws to a close. “To be honest, I was just focused on this campaign. I haven't sat down yet and thought about the future,” the coach said before heading back to a dressing room where sadness lingered like a dark shroud.</p>
    </div>

    <div class="box">
        <div class="user">
            <img decoding="async" src="CRICKETALLPHOTOS\desktop-wallpaper-sourav-ganguly.jpg" alt="">
            <div class="info">
                <h3>Sourav ganguly</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>Ganguly, who previously worked as the president of the Board of Control for Cricket in India (BCCI), backed Rohit, saying that winning the IPL is more difficult than winning the World Cup</p>
    </div>

    <div class="box">
        <div class="user">
            <img decoding="async" src="CRICKETALLPHOTOS\1693912450_virender-sehwag.jpg" alt="">
            <div class="info">
                <h3>Virender Sehwag</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>India will surely have an advantage. Australia will be a little scared to face India in the final. To win the World Cup, the only team they wouldn't have wanted to face in the final is India. Also, I don't think that the pitch will make a big difference.</p>
    </div>

    <div class="box">
        <div class="user">
            <img decoding="async" src="CRICKETALLPHOTOS\desktop-wallpaper-kapil-dev.jpg" alt="">
            <div class="info">
                <h3>Kapil Dev</h3>
                <span>happy client</span>
            </div>
        </div>
        <p>The ICC announced the schedule for this year's ODI World Cup on Tuesday, with the tournament taking place in October-November in India. The home side will begin its campaign on October 8 against Australia and will take on arch-rivals Pakistan at the iconic Narendra Modi Stadium in Ahmedabad exactly a week later. India will be aiming to end the trophy drought in ICC tournament, which dates back to 2013 when the side lifted its last title – the Champions Trophy, under the captaincy of Mahendra Singh Dhoni.</p>
    </div>
</section>

<div class="heading">
    <h1>Contact us</h1>
</div>

<section class="contact">
    <div class="icons-container">

        <div class="icons">
            <i class="fas fa-phone"></i>
            <h3>our number</h3>
            <p>+91 8617512320</p>
            <p>+91 8346043385</p>
        </div>

        <div class="icons">
            <i class="fas fa-envelope"></i>
            <h3>our email</h3>
            <p>maheshbit39889@gmail.com</p>
            <p>fazilmahi827@gmail.com</p>
        </div>

        <div class="icons">
            <i class="fas fa-map-marker-alt"></i>
            <h3>our address</h3>
            <p>Midnapore,West Bengal,India - 721102 </p>
        </div>

    </div>
    </section>



    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="https://www.hotstar.com/in"><i class="fas fa-arrow-right"></i>Live Video</a>
                <a href="#"><i class="fas fa-arrow-right"></i>About</a>
                <a href="#"><i class="fas fa-arrow-right"></i>Review</a>
                <a href="#"><i class="fas fa-arrow-right"></i>Blog</a>
                <a href="#"><i class="fas fa-arrow-right"></i>Contact</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="login.html"><i class="fas fa-arrow-right"></i>my order</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>my favorite</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>my wishlist</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>my account</a>
                <a href="login.html"><i class="fas fa-arrow-right"></i>terms or use</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com/MaheshKumarBit?mibextid=9R9pXO"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="https://instagram.com/fajil_mahi?igshid=OGQ5ZDc2ODk2ZA=="> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for lastest update</p>
                <form action="">
                    <input type="email" placeholder="enter your email address">
                    <input type="submit" value="subscribe" class="btn">
                </form>
                <img decoding="async" src="img/payment.png" class="payments" alt="">
            </div>
        </div>
    </section>

<div class="credit">created by Mahesh || all right reserved</div>












     <script src="js/cricketmain.js" defer data-deferred="1"></script> </body>
</html>